<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>

<body>

    <div class="main w-full min-h-screen bg-grey-100 px-40 pt-20 flex flex-col gap-10 items-center">

        <h1 class="text-5xl text-blue-400 font-bold">Start with your first post</h1>

        <div class="w-full h-[1px] bg-zinc-800 rounded-md"></div>
        <h2 class="text-3xl text-grey-400 font-bold">Login to your Account!!</h2>
        <div class="form md:max-w-[500px] w-full border-2 border-black rounded-md p-4">
            <form class="w-full flex flex-col gap-4 text-white" action="/login" method="post">
                <input class="block bg-zinc-800 rounded-md p-2 outline-none" type="email" name="email" id="" placeholder="Email" required>
                <input class="block bg-zinc-800 rounded-md p-2 outline-none" type="password" name="password" id="" placeholder="Password"
                    required>
                <input class=" bg-blue-400 rounded-lg p-2 text-white font-semibold" type="submit" value="Login">

                <div class="flex justify-center gap-2 text-grey-400 px-6">

                    <p class="text-slate-500"> <u>Don't have an account ?</u></p>
                    <a class="text-blue-600" href="/">
                        Sign up
                    </a>

                </div>

            </form>
        </div>
    </div>

</body>

</html>