<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes maker</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="main w-full min-h-screen bg-zinc-900 px-40 pt-20 flex flex-col gap-10 items-center">
        <% val = fileName; %>
        <h1 class="text-3xl text-blue-400 font-bold "><%= val.replace(/([A-Z])/g, " $1").trim().replace(".txt", "") %></h1>
        <div class="w-full h-[1px] bg-zinc-100 rounded-md "></div>
        <p class="text-white px-2 text-lg text-justify"> <%=fileData%> </p>
        <div class="w-full h-[1px] bg-zinc-100 rounded-md"></div>
        <a href="/">
            <button class=" bg-blue-400 rounded-lg p-2 px-8 text-black" >
                Go back
            </button>
        </a>
        
    </div>
</body>

</html>